.noTasks {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.noTasks::before {
  content: '';
  position: absolute;
  inset: 0;
  bottom: auto;
  display: block;
  height: 55px;
  background-color: var(--greyC4);
}

.descr {
  width: 85%;
  text-align: center;
  margin: auto;
}
