.label {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.name {
  padding: 4px 5px;
}

.input {
  border: none;
  padding: 4px 5px;
  flex-grow: 1;
  background-color: var(--greyF4);
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  transition: background-color .3s ease;
}

.input[aria-invalid=true] {
  background-color: #ff6969a0;
}

.input:focus {
  outline: none;
}

.input::selection {
  background-color: var(--greyC4);
}

.input:disabled {
  background-color: transparent;
}
