.content {
  padding-bottom: 40px;
  background-color: var(--white);
}

.container {
  display: grid;
  grid-template-columns: 43fr 58fr;
  grid-template-rows: max-content 1fr;
  column-gap: 16px;
  row-gap: 25px;
}
