.header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 100px;
  background-color: var(--white);
  box-shadow: 0px 10px 63px 0px rgba(0, 0, 0, 0.07);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
