.btn {
  padding: 15px 50px;
  line-height: 25px;
  color: var(--white);
  transition: background-color .3s ease;
}

.btn:disabled {
  opacity: .5;
  cursor: default;
}

.green {
  background-color: var(--green);
}

.green:hover {
  background-color: var(--marsh);
}

.red {
  padding: 13px 48px;
  border: 2px solid var(--red);
}

.redFill {
  background-color: var(--red);
}

.grey {
  border: 2px solid var(--greyC4);
  color: var(--greyC4);
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.grey:hover {
  color: var(--white);
  background-color: var(--greyC4);
}

.iconText {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 9px 14px;
  width: 100%;
  line-height: 17px;
  transition: background-color .3s ease;
}

.iconText:hover {
  background-color: var(--greyF4);
}

.iconText:disabled {
  opacity: 1;
}

.iconText:disabled svg path {
  fill: var(--greyC4);
}

.iconOnly {
  padding: 0;
  display: flex;
}

