.btn {
  padding: 15px 50px;
  color: var(--white);
  transition: background-color .3s ease;
}

.green {
  background-color: var(--green);
}

.green:hover {
  background-color: var(--marsh);
}

.red {
  border: 2px solid var(--red);
}

.grey {
  border: 2px solid var(--greyC4);
  color: var(--greyC4);
  background-color: transparent;
}

.icon {
  display: flex;
  column-gap: 8px;
  padding: 9px 14px;
  width: 100%;
  transition: background-color .3s ease;
}

.icon:hover {
  background-color: var(--greyF4);
}
