.dropdown {
  border: 1px solid var(--greyC4);
  background-color: var(--white);
  translate: -50% 8px;
}

.dropdown::before {
  content: '';
  display: block;
  height: 5px;
}

.dropdown::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: calc(100% - 3px);
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--white);
  border-top: 1px solid var(--greyC4);
  border-left: 1px solid var(--greyC4);
  translate: -50% 0;
  rotate: 45deg;
}
